*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,body{
  width:100%;
  height:100%;
  background:linear-gradient(135deg, #2c2c2c, #3d3d3d);
  display:flex;
  justify-content:center;
  align-items: center;
}
.container{
  width:400px;
  background-color: rgba(255,255,255,0.1);
  padding:20px;
 border-radius: 12px;
 box-shadow: 0 8px 30px rgba(0,0,0,0.3);
 color:#ffff;
}

.container.hide{
  opacity:0;
  transform:translateY(-20px);
  pointer-events:none;
}


h1{
  font-size:20px;
  margin-bottom:10px;
  text-align: center;
}
.progress{
  width:100%;
  height: 20px;
 background:  rgba(255,255,255,0.2);
 overflow: hidden;
 border-radius:5px;
}

#progressBar{
  width:0%;
  height:100%;
  background: linear-gradient(90deg, #00f260, #0575e6);
  transition: width 0.3s ease;
}

.percent{
  text-align: center;
  margin-top:10px;
  font-weight: 600;
}